<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Link Styles -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <div class="logo_name">
        <img src="assets/images/plus1.png" class="logo" alt="">Pharmacie</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a routerLink="/menu/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name" >Dashboard</span>
          
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
     
      
      <!--******************************************-->
      <li>
        <a class="pnt" >
          <i class="bx bx-transfer"></i>
          <span (click)="toggleOperationOptions()">
          <span class="link_name" >Opérations <i class="bx bx-down-arrow" ></i>
          </span> 
        </span>
        </a>
        <span class="tooltip">Opérations</span>
        <ul>
          <li *ngIf="operationOptionsVisible">
            <a routerLink="/menu/achat">
              <i></i><i></i>
              <span class="link_name">
                <div class="under">Achat</div></span>
            </a>
          </li>
          <li *ngIf="operationOptionsVisible">
            <a routerLink="/menu/vente">
              <i ></i><i></i>
              <span class="link_name">
                <div class="under" >Vente</div></span>  
            </a>
          </li>
        </ul>
      </li>
            <!--******************************************-->
      <li>
        <a routerLink="/menu/commande">
          <i class="bx bx-cart-alt"></i>
          <span class="link_name" >Commande</span>
        </a>
        <span class="tooltip">Commande</span>
      </li>
      <li>
        <a routerLink="/menu/facture">
          <i class="bx bx-book-content"></i>
          <span class="link_name" >Facture</span>
        </a>
        <span class="tooltip">Facture</span>
      </li>
      <li>
        <a routerLink="/menu/stock">
          <i class="bx bx-box"></i>
          <span class="link_name">Stock </span>
        </a>
        <span class="tooltip">Stock </span>
      </li>
      <li>
        <a routerLink="/menu/fournisseur">
          <i class="bx bx-group"></i>
          <span class="link_name" >Fournisseur</span>
        </a>
        <span class="tooltip">Fournisseur</span>
      </li>
      <li>
        <a routerLink="/menu/medicament">
          <i class="bx bx-injection"></i>
          <span class="link_name" >Medicament</span>
        </a>
        <span class="tooltip">Medicament</span>
      </li>
    
      <!--******************************************-->
      
      <!--******************************************-->
      <li>
        <a routerLink="/menu/client" >
          <i class="bx bx-user"></i>
          <span class="link_name" >Client</span>
        </a>
        <span class="tooltip">Client</span>
      </li>
      <!--******************************************-->
      <li>
        <a class="pnt" >
          <i class="bx bx-user-circle"></i>
          <span (click)="toggleEmployeeOptions()">
          <span class="link_name" >Employee <i class="bx bx-down-arrow" ></i>
          </span> 
        </span>
        </a>
        <span class="tooltip">Employee</span>
        <ul>
          <li *ngIf="employeeOptionsVisible">
            <a  routerLink="/menu/user">
              <i></i><i></i>
              <span class="link_name">
                <div class="under" >Utilisateur</div> </span>
            </a>
          </li>
          <li *ngIf="employeeOptionsVisible">
            <a routerLink="/menu/role">
              <i ></i><i></i>
              <span class="link_name">
                <div class="under">Role</div></span>  
            </a>
          </li>
        </ul>
      </li>
      
      <!--******************************************-->
            <!--******************************************-->
      <li class="profile">
        <div class="profile_details">
          <div class="profile_content">
            <div class="name"> {{shared.user.email}}</div>
            <div class="designation">{{shared.role}}</div>
          </div>
        </div>
        <i class="bx bx-log-out" (click)="log_out()" id="log_out"></i>
      </li>
    </ul>
  </div>
 <div class="home-section">
  <router-outlet></router-outlet>

 </div>
</body>
</html>

