body {
    padding: 0;
    margin: 0;
    background-color:#cdf3d0;
    /*width: 1166px;
    height: 663px;*/
    overflow: hidden;
  }
  .text{
    display: inline-block;
    color:var(--color-default);
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }
  .container{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 50px;
  }
  
  /* Modal Styles */
  .modal {
      display: block;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    }
    
    .modal-content {
      background-color: #fefefe;
     /* background-image:;*/
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* 80% width */
    }
    .modal-content2 {
      background-color: #fefefe;
     /* background-image:;*/
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width:  60%; /* 80% width */
    }
    .modal-content3 {
      background-color: #fefefe;
     /* background-image:;*/
      margin: 15% auto; /* 15% from the top and centered */
      padding:20px;
      border: 1px solid #888;
      width: 30%; /* 80% width */
      height: auto;
    }
    .modal-content .cont{
      margin-left: 20px;
    }
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
     }
    form{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0 10px black;
    }
    h4{
        text-align: center;
        font-size: 30px;
        background-color: #6cf18d;
        height: 50px;
    
    }
    hr{
      margin: 10px 0;
      background-color: #8b8888;
      border: 0;
      height: 1px;
      width: 100%;
  }
    img{
      width: 100%;
      max-width: 30px;
      cursor:pointer;
    }
    .name-field{
      margin-left: 17%;
    }
  .btn{
    background-color: white;
    color: #058825;
    border-color: #058825;
  }
    .btn:hover{
      background-color: #058825;
  
    }
    #openModalBtn{
      position: relative;
      left: 900px;
    }
    .btn #id{
      font-size: 20px;
    }
    select{
      width: 200px;
    }
    nav{
      color: blue;
    }

    .reponse{
      display: block;
      max-width: 100%;
      width:400px;
      height: auto;
      background-color: #058825;
      color: white;
      padding: 10px;
      text-align: left;
      margin-left: 850px;
      border-radius: 10px;
      
    }