<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
<body>
    <div class="text">Dashboard</div>
  <div class="container">
  <div class="dashboard-container">
  <div class="row">
    <div class="col-md-3">
      <!-- First card -->
      <div class="card shadow">
        <h3>LES VENTES DU JOURS</h3>
        <p>{{vente_j}} </p>
        <img src="assets/images/ventes.png" alt="Client photo">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Second card -->
      <div class="card shadow">
        <h3>LES VENTES DU MOIS</h3>
        <p>{{vente_m}} </p>
        <img src="assets/images/ventes.png" alt="Client photo">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Third card -->
      <div class="card shadow">
        <h3>LES VENTES TOTAL</h3>
        <p>{{vente_t}}</p>
        <img src="assets/images/ventes.png" alt="Client photo">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Fourth card -->
      <div class="card shadow">
        <h3>NOMBRE DE CLIENTS</h3>
        <p>{{nb_client}}</p>
        <img src="assets/images/contact.png" alt="Client photo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- Fifth card -->
      <div class="card shadow">
        <h3>NOMBRE DE <br>MEDICAMENTS</h3>
        <p>{{nb_medicament}}</p>
        <img src="assets/images/medicaments.png" alt="Client photo">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Sixth card -->
      <div class="card shadow">
        <h3>MEDICAMENT AVEC QTE <br> EXPIRE</h3>
        <p>{{med_qte_ex}}</p>
        <img src="assets/images/medicament.png" alt="Client photo">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Seventh card -->
      <div class="card shadow">
        <h3>MEDICAMENT AVEC <br>DATE EXPIRE</h3>
        <p>{{med_date_ex}}</p>
        <br>
        <img src="assets/images/calendrier.png" alt="client">
      </div>
    </div>
    <div class="col-md-3">
      <!-- Seventh card -->
      <div class="card shadow">
        <h3>NOMBRE DES ENTREE <br>DU JOUR</h3>
        <p>{{nb_entree_j}}</p>
        <br>
        <img src="assets/images/buy.png" alt="client">
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>