
.image{
    width: 100%;
    height: 300px;
    background-image:linear-gradient(rgba(35, 144, 44,0.5), rgba(205, 243, 208, 0.5)),url('src/assets/images/home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body {
  padding: 0;
  margin: 0;
  /*width: 1166px;
  height: 663px;*/
  background-color:#cdf3d0;

}
.container{
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  margin-top: 50px;
  border: 1px  green;
  border-style:dashed;

  
}

 /*linear-gradient(rgba(35, 144, 44,0.5), rgba(205, 243, 208, 0.5)),*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
  body{
    background-color:#eafaed;/* #cdf3d0;*/
    margin: 0;
    padding: 0;
  }
  .forms{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

  /*.center{
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

  }*/
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  .txt_field{
    width: 250px
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #058825;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #058825;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #058825;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #058825;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #058825;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }

  .text{
    display: inline-block;
    color:green;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }

  #cmd{
    position: relative;
    left: 970px;
  }
  .btn #id{
    font-size: 20px;
  }
   .mg{
    position: absolute;
    left:430px;
    bottom: 94px
  }
  img{
    cursor: pointer;
  }

  /* Modal Styles */
 .modal {
     display: block;
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
   }

   .modal-content3 {
     background-color: #fefefe;
    /* background-image:;*/
     margin: 15% auto; /* 15% from the top and centered */
     padding:20px;
     border: 1px solid #888;
     width: 30%; /* 80% width */
     height: auto;
   }
   
 .name-field{
  padding: 30px;
 }
   .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }

   .close:hover,
   .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
    }
    .btn{
      background-color: white;
      color: #058825;
      border-color: #058825;
    }
      .btn:hover{
        background-color: #058825;
    
      }
      .out{
       
        position: relative;
        left: 950px;
        text-align: left;

      }
      .email{
        color: green;
        font-size: 17px;
        text-decoration: underline;

      }